.buttonGroupRightTop {
  float: right;
  margin-bottom: 10px;
  margin-top: -5px;

  .pure-button {
    color: $buttonGroupRightTopButtonTxt;
    background: $buttonGroupRightTopButtonBg;
  }
}

.dataTable {
  .pure-button {
    color: $dataTableButtonTxt;
    background: $dataTableButtonBg;
    font-size: 85%;
  }
}
input[type=submit].pure-button, .submit {
  color: $submitButtonTxt;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: $submitButtonBg;
}

input[type=reset].pure-button, .reset {
  color: $resetButtonTxt;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: $resetButtonBg;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.dt-buttons button.dt-button, .dt-buttons button.dt-button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
button.ColVis_Button, button.ColVis_Button:hover {
  color: $buttonGroupRightTopButtonTxt;
  background: $buttonGroupRightTopButtonBg;
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0, 0, 0, .8);
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  line-height: 16px;
  margin: 5px;
  box-shadow: none;
}

button.ColVis_Button, button.ColVis_Button:hover {
  margin-right: 0px;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0;
}